{erl_opts, [debug_info]}.
{deps, [
	{ergw, {git, "git://github.com/travelping/ergw", {tag, "1.14.0"}}},
	{netdata, ".*", {git, "git://github.com/RoadRunnr/erl_netdata", "master"}}
]}.

{relx, [{release, { 'ergw-gtp-c-node', "1.14.0" },
         [ergw, netdata, sasl, runtime_tools, hipe]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true},
                            {include_src, false}]}]},
	    {native, [{overrides, [{override, gen_socket, [{erl_opts,[debug_info,
								      {native, false}]}]},
				   {override, ergw, [{erl_opts,[debug_info,
								native, {hipe, o3},
								{parse_transform, lager_transform}]}]},
				   {override, eradius, [{erl_opts,[debug_info,
								   native, {hipe, o3},
								   {parse_transform, lager_transform}]}]},
				   {override, regine, [{erl_opts,[debug_info,
								  native, {hipe, o3},
								  {parse_transform, lager_transform}]}]},
				   {override, ergw_aaa, [{erl_opts,[debug_info,
								    native, {hipe, o3},
								    {parse_transform, lager_transform}]}]},
				   {override, ppp, [{erl_opts,[debug_info,
							       native, {hipe, o3},
							       {parse_transform, lager_transform}]}]},
				   {override, gtplib, [{erl_opts,[debug_info,
								  native, {hipe, o3},
								  {parse_transform, lager_transform}]}]},
				   {override, jsx, [{erl_opts,[debug_info,
							       native, {hipe, o3},
							       {d, maps_always}, {d, maps_support}]}]},
				   {override, [{erl_opts, [debug_info,
							   {platform_define, "^[0-9]+", namespaced_types},
							   {platform_define, "^[0-9]+", namespaced_dicts},
							   {platform_define, "^((1[8|9])|2)", rand_module},
							   native, {hipe, o3}]}]}]}]
	    }]
}.
