{erl_opts, [debug_info]}.
{deps, [
	{ergw, ".*", {git, "git://github.com/travelping/ergw", "master"}}
]}.

{relx, [{release, { 'ergw-gtp-c-node', "1.2.0" },
         [ergw,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true},
                            {include_src, false}]}]},
	    {native, [{overrides, [{override, gen_socket, [{erl_opts,[{native, false}]}]},
				   {override, gen_netlink, [{erl_opts,[native, {hipe, o3},
								       {parse_transform, lager_transform},
								       {lager_extra_sinks, [netlink]}]}]},
				   {override, ergw, [{erl_opts,[native, {hipe, o3},
								{parse_transform, lager_transform}]}]},
				   {override, eradius, [{erl_opts,[native, {hipe, o3},
								   {parse_transform, lager_transform}]}]},
				   {override, regine, [{erl_opts,[native, {hipe, o3},
								  {parse_transform, lager_transform}]}]},
				   {override, ergw_aaa, [{erl_opts,[native, {hipe, o3},
								    {parse_transform, lager_transform}]}]},
				   {override, ppp, [{erl_opts,[native, {hipe, o3},
							       {parse_transform, lager_transform}]}]},
				   {override, gtplib, [{erl_opts,[native, {hipe, o3},
								  {parse_transform, lager_transform}]}]},
				   {override, meck, [{erl_opts,[{platform_define, "^[0-9]+", namespaced_dicts}]}]},
				   {override, [{erl_opts, [native, {hipe, o3}]}]}]}]
	    }]
}.
