Source: ergw-gtp-c-node
Section: net
Priority: optional
Maintainer: Andreas Schultz <aschultz@warp10.net>
Build-Depends: debhelper (>=9), rebar3, erlang-dev, erlang-tools,
        erlang-syntax-tools, erlang-eunit, erlang-inets, erlang-snmp,
        erlang-dialyzer, erlang-ssl
Standards-Version: 3.9.8
Homepage: https://github.com/travelping/ergw-gtp-c-node
Vcs-Git: https://github.com/travelping/ergw-gtp-c-node.git
Vcs-Browser: https://github.com/travelping/ergw-gtp-c-node.git

Package: ergw-gtp-c-node
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: GTP-c Node for erGW based GGSN and PGW
 This is the GTP-c part for a 3GPP GGSN and PGW implemented in Erlang.

